<nav th:fragment="sidebar" class="nav-sidebar">

    <div class="nav-header">
        <i class="fa-solid fa-layer-group"></i>&nbsp; SMARTECT
    </div>

    <ul class="nav-menu">
        <li><a href="/dashboard" class="active">
            <i class="fa-solid fa-chart-line"></i> Dashboard
        </a></li>
        <li><a href="/events">
            <i class="fa-solid fa-video"></i> Events
        </a></li>
        <li><a href="/history">
            <i class="fa-solid fa-clock-rotate-left"></i> History
        </a></li>
        <li><a href="/statistics">
            <i class="fa-solid fa-chart-pie"></i> Statistics
        </a></li>
        <li><a href="/settings">
            <i class="fa-solid fa-gear"></i> Settings
        </a></li>
    </ul>

</nav>
