body {
    margin: 0;
    font-family: 'Pretendard', sans-serif;
    background: #0e1621;
    color: white;
}

/* 메인화면 */
#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #16202c, #0e1621);
}

.main-content {
    text-align: center;
}

.logo {
    font-size: 64px;
    font-weight: 800;
    color: #06b6d4;
    margin-bottom: 15px;
}

.main-desc {
    font-size: 18px;
    color: #9bb0c9;
}

.scroll-hint {
    font-size: 12px;
    color: #5f7a99;
    animation: blink 3s infinite; /* 3초마다 반짝임 */
}

@keyframes blink {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}

/* 게시판  */
#board {
    border-top: 1px solid #5f7a99;
    padding: 80px 0;
    background: #0d141c;
}

.board-container {
    width: 720px;
    margin: 0 auto;
}

.board-title {
    font-size: 22px;
    margin-bottom: 20px;
    color: #06b6d4;
}

/* 글 작성 */
.board-write {
    background: #16202c;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.board-write input,
.board-write textarea {
    width: 96%;
    padding: 12px;
    margin-bottom: 10px;
    background: #0e1621;
    border: 1px solid #253445;
    border-radius: 8px;
    color: white;
}

.board-write textarea {
    resize: none;
    height: 70px;
}

.board-write button {
    width: 100%;
    padding: 12px;
    background: #06b6d4;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    color: #0e1621;
}

/* 게시글 */
.board-post {
    background: #16202c;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.post-title {
    font-weight: 600;
    color: #06b6d4;
}

.post-writer {
    color: #8ea0b3;
}

.post-content {
    white-space:pre-line;
    margin: 10px 0;
    font-size: 15px;
}

.post-time {
    font-size: 12px;
    color: #7d8fa3;
}

.main-btn {
    display: block;
    padding: 12px 26px;
    background: #06b6d4;
    color: #0e1621;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.2s;
}

.main-btn:hover {
    background: #14c3e0;
}
